In [ ]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

**SECTION 1**

In [ ]:
#Question 1

# Number of rows in the dataset
print(f"Our inventory database contains {df.shape[0]} records.")

rows, cols = df.shape
print(f"Our inventory database contains {rows} records across {cols} fields.")

Our inventory database contains 6000 records.
Our inventory database contains 6000 records across 8 fields.

In [ ]:
#Question 2

# List all column names
print("We track the following characteristics about each diamond:")
print(df.columns)

We track the following characteristics about each diamond:
['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

In [ ]:
#Question 3

print("Each row represents a single diamond in our inventory with its full set of recorded attributes.")

Each row represents a single diamond in our inventory with its full set of recorded attributes.

**SECTION 2**

In [ ]:
#Question 4

# Total carats in inventory
total_carats = df["Carat Weight"].sum()
print(f"Our total inventory weighs {total_carats:.2f} carats.")

Our total inventory weighs 8007.12 carats.

In [ ]:
#Question 5

# Number of unique cuts
unique_cuts = df["Cut"].n_unique()
print(f"We offer {unique_cuts} unique diamond cuts: {df['Cut'].unique().to_list()}")

We offer 5 unique diamond cuts: ['Very Good', 'Ideal', 'Fair', 'Good', 'Signature-Ideal']

In [ ]:
#Question 6

# Most valuable diamond
most_valuable = df.filter(df["Price"] == df["Price"].max())

# Least valuable diamond
least_valuable = df.filter(df["Price"] == df["Price"].min())

print("Most valuable diamond:")
print(most_valuable)

print("\nLeast valuable diamond:")
print(least_valuable)

Most valuable diamond:
shape: (1, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬────────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price  │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---    │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64    │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪════════╡
│ 2.79         ┆ Ideal ┆ D     ┆ IF      ┆ EX     ┆ EX       ┆ GIA    ┆ 101561 │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴────────┘

Least valuable diamond:
shape: (1, 8)
┌──────────────┬──────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut  ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---  ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str  ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 0.77         ┆ Good ┆ I     ┆ VS1     ┆ VG     ┆ G        ┆ AGSL   ┆ 2184  │
└──────────────┴──────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

In [ ]:
#Question 7

# Average price per color grade
avg_price_by_color = (
    df.group_by("Color")
      .agg(pl.col("Price").mean().alias("average_price"))
      .sort("average_price", descending=True)
)

print(avg_price_by_color)

shape: (6, 2)
┌───────┬───────────────┐
│ Color ┆ average_price │
│ ---   ┆ ---           │
│ str   ┆ f64           │
╞═══════╪═══════════════╡
│ D     ┆ 15255.783661  │
│ F     ┆ 12712.241856  │
│ G     ┆ 12520.050633  │
│ E     ┆ 11539.190231  │
│ H     ┆ 10487.347544  │
│ I     ┆ 8989.636364   │
└───────┴───────────────┘

Originally, each row was one individual diamond.

After grouping by color, each row now represents:

One color grade, summarized by its average price across all diamonds of that color.

New grain = Diamond color category with aggregated pricing information.

**SECTION 3**

In [ ]:
# Question 8

# Breakdown by clarity grade
clarity_breakdown = (
    df.group_by("Clarity")
      .agg([
          pl.count().alias("diamond_count"),
          pl.col("Price").mean().alias("average_price"),
          pl.col("Carat Weight").sum().alias("total_carats")
      ])
      .sort("average_price", descending=True)  # Optional: sort by avg price
)

print(clarity_breakdown)

shape: (7, 4)
┌─────────┬───────────────┬───────────────┬──────────────┐
│ Clarity ┆ diamond_count ┆ average_price ┆ total_carats │
│ ---     ┆ ---           ┆ ---           ┆ ---          │
│ str     ┆ u32           ┆ f64           ┆ f64          │
╞═════════╪═══════════════╪═══════════════╪══════════════╡
│ FL      ┆ 4             ┆ 63776.0       ┆ 7.87         │
│ IF      ┆ 219           ┆ 22105.844749  ┆ 316.0        │
│ VVS1    ┆ 285           ┆ 16845.680702  ┆ 389.43       │
│ VVS2    ┆ 666           ┆ 14142.177177  ┆ 876.58       │
│ VS1     ┆ 1192          ┆ 13694.113255  ┆ 1682.74      │
│ VS2     ┆ 1575          ┆ 11809.053333  ┆ 2170.81      │
│ SI1     ┆ 2059          ┆ 8018.864012   ┆ 2563.69      │
└─────────┴───────────────┴───────────────┴──────────────┘

/tmp/ipython-input-4085375986.py:7: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("diamond_count"),

In [ ]:
#Question 9

# Average price by cut and color
price_by_cut_color = (
    df.group_by(["Cut", "Color"])
      .agg(pl.col("Price").mean().alias("average_price"))
      .sort(["Cut", "Color"])
)

print(price_by_cut_color)

shape: (30, 3)
┌───────────┬───────┬───────────────┐
│ Cut       ┆ Color ┆ average_price │
│ ---       ┆ ---   ┆ ---           │
│ str       ┆ str   ┆ f64           │
╞═══════════╪═══════╪═══════════════╡
│ Fair      ┆ D     ┆ 6058.25       │
│ Fair      ┆ E     ┆ 5370.625      │
│ Fair      ┆ F     ┆ 6063.625      │
│ Fair      ┆ G     ┆ 7345.52381    │
│ Fair      ┆ H     ┆ 5908.5        │
│ …         ┆ …     ┆ …             │
│ Very Good ┆ E     ┆ 12101.910217  │
│ Very Good ┆ F     ┆ 12413.905495  │
│ Very Good ┆ G     ┆ 12354.013841  │
│ Very Good ┆ H     ┆ 10056.106132  │
│ Very Good ┆ I     ┆ 8930.031332   │
└───────────┴───────┴───────────────┘

New grain = Each row now represents a unique cut-color combination, aggregated to show the average price for that specific combination.

In [ ]:
# Question 10

# Total value and count by cut-color combination
value_by_cut_color = (
    df.group_by(["Cut", "Color"])
      .agg([
          pl.sum("Price").alias("total_value"),
          pl.len().alias("diamond_count")
      ])
      .sort("total_value", descending=True)
      .head(5)
)

print(value_by_cut_color)

shape: (5, 4)
┌───────────┬───────┬─────────────┬───────────────┐
│ Cut       ┆ Color ┆ total_value ┆ diamond_count │
│ ---       ┆ ---   ┆ ---         ┆ ---           │
│ str       ┆ str   ┆ i64         ┆ u32           │
╞═══════════╪═══════╪═════════════╪═══════════════╡
│ Ideal     ┆ G     ┆ 9363514     ┆ 690           │
│ Very Good ┆ G     ┆ 7140620     ┆ 578           │
│ Very Good ┆ F     ┆ 5648327     ┆ 455           │
│ Ideal     ┆ F     ┆ 5346782     ┆ 363           │
│ Ideal     ┆ H     ┆ 5279687     ┆ 458           │
└───────────┴───────┴─────────────┴───────────────┘